<!-- Search drop down -->
<table>
    <th>
        <div class="dropdown" style="margin-right: 10px">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search reviews
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <!-- Add header here -->
                <li (click)="dropDownChoose('location')"><a>By Location</a></li>
                <li (click)="dropDownChoose('content')"><a>By Content</a></li>
                <li (click)="dropDownChoose('author')"><a>By Author</a></li>
            </ul>
        </div>
    </th>
    <div *ngIf="filterChosen == 'location'">
        <form (submit)="filterPosts()" id="filterLocation" #filterLocation="ngForm">
            <th>
                <input type="text" class="form-control" [(ngModel)]="location" name="location"
                       #filterLocation="ngModel" style="width: 500px; margin-right: 10px"
                       placeholder="Enter location name (e.g. New York)">
            </th>
            <th>
                <button type="submit" class="btn btn-success">Filter</button>
            </th>
        </form>
    </div>
    <div *ngIf="filterChosen == 'author'">
        <form (submit)="filterPosts()" id="filterAuthor" #filterAuthor="ngForm">
            <th>
                <input type="text" class="form-control" [(ngModel)]="author" name="author" #filterContent="ngModel"
                       style="width: 180px; margin-right: 10px" placeholder="Enter author name"></th>
            <th><input type="text" class="form-control" [(ngModel)]="email" name="email" #filterContent="ngModel"
                       style="width: 180px; margin-right: 10px" placeholder="Enter author's email"></th>
            <th>
                <button type="submit" class="btn btn-success">Filter</button>
            </th>
        </form>
    </div>
    <div *ngIf="filterChosen == 'content'">
        <form (submit)="filterPosts()" id="filterContent" #filterContent="ngForm">
            <th>
                <input type="text" class="form-control" [(ngModel)]="title" name="title" #filterContent="ngModel"
                       style="width: 180px; margin-right: 10px" placeholder="Enter review title"></th>
            <th><input type="text" class="form-control" [(ngModel)]="content" name="content" #filterContent="ngModel"
                       style="width: 180px; margin-right: 10px" placeholder="Enter content words"></th>
            <th>
                <button type="submit" class="btn btn-success">Filter</button>
            </th>
        </form>
    </div>
</table>

<!-- Posts list -->
<div *ngFor="let post of posts | reverse">
    <div *ngIf="(post._id) == 0">
        <img src="../../../data/no_results.png" style="margin: 50px">
    </div>
    <div *ngIf="(post._id) != 0">
        <article class="blogPost">
            <header>
                <h2>{{post.title}}</h2>
                <table style="margin-top: -10px"><th class="glyphicon glyphicon-time" style="color: #5e5e5e"></th><th style="padding-left: 5px"><p>Posted on {{post.postDate | date: 'dd/MM/yy'}} by <a href="mailto:{{post.email}}"><b>{{post.author}}</b></a>
                </p></th><th class="glyphicon glyphicon-globe" style="color: #5e5e5e; padding-left: 7px"></th><th style="padding-left: 5px"><p>Location: <a href="http://maps.google.com?q={{post.location}}" target="_blank"><b>{{post.location}}</b></a></p></th></table>

            </header>
            <div>
                <p>{{post.content}}</p>

                <img *ngIf="(post.image) != null" src="{{post.image}}">
            </div>
        </article>
    </div>
</div>

