<header style="margin-top: -50px">
    <div id="blogTitleHead">
        <video id="videoLogo" width="950" autoplay loop>
            <source src="./data/logo.mp4" type="video/mp4">Your browser does not support HTML5 video.
        </video>
    </div>
</header>
<nav>
    <!-- Navigation -->
    <ul>
        <li class="selected"><a [routerLink]="['/home']">Blog</a></li>
        <li><a [routerLink]="['/posts']">Manage</a></li>
        <li><a [routerLink]="['/search']">Search</a></li>
        <li class="subscribe">
        <li>
            <div id="transDemo2">
                <div class="hover">
                    <img src="images/rss.png" width="30" height="30" align="middle" style="margin:7px 0px">
                </div>
            </div>
        </li>
        <li><a href="#">Subscribe via. RSS</a></li>
    </ul>
</nav>
<!--
<section id="intro">
    Meet Shauli
</section> -->
<div id="content"  style="margin-top: 40px;">
    <div id="mainContent">
        <router-outlet></router-outlet>
    </div>
    <aside>
        <section>
            <header>
                <h3>Top 3 Reviewers</h3>
            </header>
            <ul>
                <li *ngFor="let top of topList"><b>• {{top._id}}</b> - {{top.total}} reviews</li>
            </ul>
        </section>
        <section>
            <header>
                <h3>Post Archives</h3>
            </header>
            <ul>
                <li><a href="#">2016</a></li>
                <li><a href="#">2015</a></li>
                <li><a href="#">2014</a></li>
            </ul>
        </section>
        <br /><br />
    </aside>
</div>

<!-- Footer -->
<footer>
    <div>
        <section id="about">
            <h3>About</h3>
            <p><a href="#"></a>Click here to read about Shauli's history and view where his fans from!</p>
        </section>
        <section id="popular">
            <h3>Blog's Creators</h3>
            <p><a href="#">Click here</a> to read who are behind this magnificant blog!</p>
        </section>
    </div>
</footer>



