<header style="margin-top: -50px">
    <div id="blogTitleHead">
        <video id="videoLogo" width="950" autoplay loop>
            <source src="./data/logo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</header>
<nav class="navbar-inverse">
        <!-- Navigation -->
    <div class="container">
        <ul class="nav navbar-nav">
            <li (click)="setActive('home')" [ngClass]="getActive('home')"><a [routerLink]="['/home']">Blog</a></li>
            <li (click)="setActive('posts')" [ngClass]="getActive('posts')"><a [routerLink]="['/posts']">Manage</a></li>
            <li (click)="setActive('maps')" [ngClass]="getActive('maps')"><a [routerLink]="['/map']">Map View</a></li>

        </ul>
    </div>
</nav>

<div id="content" style="margin-top: 40px;">
    <div id="mainContent">
        <router-outlet></router-outlet>
    </div>
    <aside>
        <section>
            <header>
                <h3>Top 3 Reviewers</h3>
            </header>
            <ul>
                <li *ngFor="let top of topList"><b>• {{top._id}}</b> - {{top.total}} reviews</li>
            </ul>
        </section>
        <section>
            <header>
                <h3>Follow us!</h3>
            </header>
            <ul>
                <iframe ng-show="user.twitter" allowtransparency="true" frameborder="0" scrolling="no"
                        src="//platform.twitter.com/widgets/follow_button.html?screen_name=tourguidecolman"
                        style="width:300px; height:20px;"></iframe>
            </ul>
        </section>
        <br/><br/>
    </aside>
</div>

<!-- Footer -->
<footer style="color: white; text-shadow: 2px 2px 20px white; text-align: center; padding: 20px">
All rights reserved to Shahar Gladstein, Tomer Brami and Iddo Alexander.<br>
Colman MEAN Stack project 2017.
</footer>



