<table style="width: 600px">

    <th>
        <h2 id="title" style="padding-left: 10px; alignment: left">Reviews location Map</h2></th>
    <th>
        <div id="transDemo2">
            <div class="hover" style="alignment: right; margin-top: 3px">
                <img src="images/world.ico" width="30" height="30" align="middle">
            </div>
        </div>
</table>
<ng2-map zoom="2" center="30.1291139, -5.3802352" style="height:400px; width: 600px">
    <marker *ngFor="let post of posts"
            [position]="post.mapCoordinates">
    </marker>

</ng2-map>

<div id="mapSlogan" style="float: right"></div>