<div class="post-list">
    <div *ngFor="let post of posts">
        <div class="col-md-7">
            {{post.title}}
        </div>
        <div class="col-md-4">
            <input type="button" (click)="deletePost(post._id)" value="Delete" class="btn btn-danger">
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div [hidden]="submitted">
        <h1>Add New Post</h1>
        <form (submit)="addPost($event)" #newPostForm="ngForm">
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" required [(ngModel)]="author" name="author" #name="ngModel">
                <!--<div [hidden]="author.valid || author.pristine" class="alert alert-danger">-->
                    <!--Author is required-->
                <!--</div>-->
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="title" name="title" #name="ngModel">
                <!--<div [hidden]="title.valid || title.pristine" class="alert alert-danger">-->
                    <!--Title is required-->
                <!--</div>-->
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" required [(ngModel)]="content" name="content" #name="ngModel">
                <!--<div [hidden]="content.valid || content.pristine" class="alert alert-danger">-->
                    <!--Content is required-->
                <!--</div>-->
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!newPostForm.form.valid">Submit</button>
        </form>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="panel-group">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">-->
                    <!--<a data-toggle="collapse" href="#collapse1">Advanced Post Filtering</a>-->
                <!--</h4>-->
            <!--</div>-->
            <!--<div id="collapse1" class="panel-collapse collapse">-->
                <!--<div class="panel-body">-->
                    <!--<form action="/Posts/SearchByCommentAuthor" method="post" id="manageFilter" class="manageFilter" enctype="multipart/form-data">-->
                        <!--Filter by Comment's Author: <input type="text" name="managefilterAuthor" id="managefilterAuthor" placeholder="Enter name" required> <input type="submit" value="Filter" id="manageFilterBtn">-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--<form action="/Posts/SearchByCommentText" method="post" id="manageFilter" class="manageFilter" enctype="multipart/form-data">-->
                        <!--Filter by Comment text: <input type="text" name="managefilterText" id="managefilterText" placeholder="Enter text" required> <input type="submit" value="Filter" id="manageFilterBtn">-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->