<div id="content">
    <div id="mainContent">
        <section>
            <form (submit)="filterPosts(filter)" id="filter" #filterPostsForm="ngForm">
                <div class="form-group">
                    <h1>Filter Posts</h1>
                    <label class="control-label">Author</label>
                    <input type="text" class="form-control" [(ngModel)]="author" name="author" #filterAuthor="ngModel">
                </div>
                <!--By Date: <input type="date" name="publishDate" id="filterDate"><br>-->
                <!--By Author's Website: <input type="url" id="filterURL" name="authorWebsite" placeholder="Enter URL" required><br>-->
                <div class="form-group">
                    <label class="control-label">Content</label>
                    <input type="text" class="form-control" [(ngModel)]="content" name="content" #filterContent="ngModel">
                </div>
                <button type="submit" class="btn btn-success">Filter</button>

            </form>
        </section>
    </div>
</div>
<div *ngFor="let post of posts">
    <article class="blogPost">
        <header>
            <h2>{{post.title}}</h2>
            <p>
                Posted by <b>{{post.author}}</b>
            </p>
        </header>
        <div>
            <p>{{post.content}}</p>
        </div>
    </article>
</div>